/* Importa os estilos do slick-carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Estilo para a seção do slider */
.slider-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  text-align: center; /* Centraliza o texto e os elementos internos */
}

/* Título do slider */
.slider-title {
    color: #8B4513;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom:4rem;
    margin-top: 3rem;
}

/* Estilo do slider */
.slider {
  position: relative;
}

/* Itens do slider */
.slider-item {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  position: relative; /* Necessário para a legenda posicionada absolutamente */
  width: 100%; /* Garante que o item do slider ocupe toda a largura disponível */
  
}

/* Imagem dentro do slider */
.slider-image {
  max-width: 50%; /* Garante que a imagem não exceda o contêiner */
  height: auto;    /* Mantém a proporção da imagem */
  border-radius: 10px;
  display: block; /* Remove o espaço abaixo da imagem causado por elementos inline */
  margin: 0 auto; /* Garante que a imagem esteja centralizada no contêiner */
  margin-bottom: 7rem;
}


/* Legenda do slider */
.slider-caption {
  position: relative; /* Altera para relative para se ajustar ao fluxo normal do layout */
  margin-top: 20px; /* Espaço entre a imagem e a legenda */
  color: #ffffff; /* Cor do texto da legenda */
  padding: 10px 20px; /* Espaço interno para a legenda */
  border-radius: 50px; /* Cantos arredondados para a legenda */
  font-size: 1.2rem; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  text-align: center; /* Centraliza o texto */
  background-color: #f53e28; /* Fundo branco semi-transparente */
  max-width: 90%; /* Ajusta a largura da legenda */
  margin: 0 auto; /* Centraliza a legenda horizontalmente */
}


/* Estilo para os pontos de navegação */
.dots-container {
  position: absolute;
  bottom: 10px; /* Ajuste a posição conforme necessário */
  width: 100%; /* Ajusta a largura dos pontos */
  display: flex;
  justify-content: center;
}

.dots-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.custom-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f53e28;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .slider-title {
    font-size: 2rem;
  }

  .slider-caption {
    font-size: 1rem;
    padding: 8px 12px;
    width: 100%; /* Ajusta a largura da legenda */
  }

  .custom-dot {
    width: 10px;
    height: 10px;
  }
}
