/* Estilo geral do rodapé */
.footer {
  background-color: #424e43; /* Cor de fundo verde escuro */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  display: inline;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f17e36; /* Laranja para o hover */
}

.footer-info p {
  margin: 10px 0;
  font-size: 0.9rem;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f17e36; /* Laranja para o hover */
}
